<div class="container" ng-controller="FacebookController">

    <div class="row">
        <div class="col-md-4">
            <h3>Brand lookup</h3>

            <div class="form-inline">
                <form ng-submit="searchApi()">
                    <input ng-model="page.name" class="form-control" placeholder="Enter a brand name">
                    <button class="btn btn-success">Search</button>
                </form>
            </div>

            <button class="btn btn-success" ng-click="clickThis()">CLICK ME</button>
        </div>
    </div>

</div>